:root {
  --background: whitesmoke;
  --body: #dacdfb;
}

body {
  background-color: var(--background);
  margin: 30px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--body);
  padding: 2px 200px;
  font-size: 17px;
  text-align: center;
  font-style: italic;
}
